
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.AssemblyInfoInputs.cache
Misha-OS/obj/project.nuget.cache
Misha-OS/obj/project.assets.json
Misha-OS/obj/Misha-OS.csproj.nuget.g.targets
Misha-OS/obj/Misha-OS.csproj.nuget.g.props
Misha-OS/obj/Misha-OS.csproj.nuget.dgspec.json
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.csprojAssemblyReference.cache
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.assets.cache
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.AssemblyInfo.cs
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
.vs/Misha-OS/v16/.suo
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.csproj.CoreCompileInputs.cache
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.cdb
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.cdb-journal
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.deps.json
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.dll
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.log.html
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.pdb
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/XSharp.Assembler.log
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.csproj.FileListAbsolute.txt
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.dll
Misha-OS/obj/Debug/netcoreapp2.0/cosmos/Misha-OS.pdb
Misha-OS/main.map
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.bin
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.asm
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/Misha-OS.iso
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/ISO/syslinux.cfg
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/ISO/Misha-OS.bin
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/ISO/mboot.c32
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/ISO/libcom32.c32
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/ISO/ldlinux.c32
Misha-OS/bin/Debug/netcoreapp2.0/cosmos/ISO/isolinux.bin
